.card {
    margin: 0 100px;
    padding: 1em;
    cursor: pointer;
   
}


.card .id {
    color: #FFFFFF;
    position: absolute;
    top: 1em;
    left: 7em;
    font-family: 'Monument', sans-serif;
    transform: rotate(-10deg);
}

.title {
    font-family: 'Monument', sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
    transform: rotate(0deg);
}

.role, .years {
    font-family: 'CircularStd', sans-serif;
}